__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
local_settings.py
db.sqlite3
db.json
node_modules/
.env
.env.local
.env.production
.env.production.local
.env.test
.env.test.local
.env.development.local
react/